body{
  margin:0;
  font-family: 'Inter','Lexend Deca', sans-serif;
  box-sizing: border-box;
  font-size: 15px;  
  /*max-width:1400px; */
}
.body-box{
    background-color: hsl(233, 47%, 7%);
    height:100vh;
    padding:100px;
}
.box{
    background-color: hsl(244, 38%, 16%);
    display: flex;
    align-items: stretch;
    margin:50px 0;
}
.left-box{
    margin:auto 60px;
    width:50%;
}
.right-box{
    width:50%;
}
.box h1,h2{
   color:hsl(0, 0%, 100%);
}
.left-box span{
   color:hsl(277, 64%, 61%);
}
.left-box p{
  color:hsla(0, 0%, 100%, 0.75);
}
.right-box img{
    width:100%;
    height:100%;
    align-items: stretch;
    display:block;
}
.column-stat{
    display:flex;
}
.col{
    margin-right:30px;
}
.col h2{
   color:hsl(0, 0%, 100%);
}
.attribution{ 
     text-align: center;
    color:hsl(0, 0%, 100%);
    padding-bottom:50px;
}
.attribution a{
     color: hsl(228, 45%, 44%);
}
@media only screen and (max-width: 375px) {
    .body-box{
      height:100%;
      padding:20px;
    }
    .box{
        display:block;
    }
    .column-stat{
        text-align: center;
        display:block;
    }
    .left-box{
        margin:auto 30px;
        width:auto;
    }
    .right-box{
        width:auto;
    }
  }
